table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  color: #2d2d2d;
}

a:visited {
  color: #2d2d2d;
}

a:hover {
  color: #1e1e1e;
}

a:active {
  color: blue;
}
